VITE_API_URL=http://localhost:4000
VITE_SUPABASE_URL=https://wrpnzeexxqdvlecalvoq.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_-Qy9tXWyjLWppWqKFDwHMw_eEbmdwCI
VITE_AUTH_REDIRECT_URL=https://ai-flow-two.vercel.app/auth/callback
